
@import 'reset.css';
@import 'colors.css';
@import 'fonts.css';

body, html {
    overflow-x: hidden;
    width: 100%;
    background-color: var(--background);
}

.logo {
    color: var(--text);
    font-size: 2rem;
    font-weight: 800;
}
.title {
    color: var(--text);
    font-size: 2rem;
    font-weight: 800;
}
.copy {
    color: var(--text);
    font-size: 1.17rem;
    font-weight: 500;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    color: var(--text);
    text-decoration: none;
    font-size: 1.17rem;
    font-weight: 500;
}
.hamburger {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
    }
}
.mobile-menu {
    display: none;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
    }
}
